
.vs/AreaAndVolumeASM/v16/.suo
.vs/AreaAndVolumeASM/v16/Browse.VC.db
.vs/AreaAndVolumeASM/v16/Browse.VC.opendb
.vs/AreaAndVolumeASM/v16/ipch/AutoPCH/308cb1266f1acf60/AREAANDVOLUMEASM.ipch
AreaAndVolumeASM.sln
AreaAndVolumeASM.vcxproj
AreaAndVolumeASM.vcxproj.filters
AreaAndVolumeASM.vcxproj.user
Debug/AreaAndVolumeASM.exe
Debug/AreaAndVolumeASM.ilk
Debug/AreaAndVolumeASM.log
Debug/AreaAndVolumeASM.obj
Debug/AreaAndVolumeASM.pdb
Debug/AreaAndVolumeASM.tlog/AreaAndVolumeASM.lastbuildstate
Debug/AreaAndVolumeASM.tlog/CL.command.1.tlog
Debug/AreaAndVolumeASM.tlog/CL.read.1.tlog
Debug/AreaAndVolumeASM.tlog/CL.write.1.tlog
Debug/AreaAndVolumeASM.tlog/link.command.1.tlog
Debug/AreaAndVolumeASM.tlog/link.read.1.tlog
Debug/AreaAndVolumeASM.tlog/link.write.1.tlog
Debug/AreaAndVolumeASM.tlog/Masm.read.1u.tlog
Debug/AreaAndVolumeASM.tlog/Masm.write.1u.tlog
Debug/Calculation.obj
Debug/vc142.idb
Debug/vc142.pdb
